{
  "botToken": "secret.bot.token",
  "prefix": "!",
  "ownerID": "123456789",
  "spamChannel": "618432966984597515",
  "farmTiers": [
    {"name": "Rabszolga", "averageGain": 25, "investCost": 100},
    {"name": "Paraszt", "averageGain": 125, "investCost": 500},
    {"name": "Földműves", "averageGain": 800, "investCost": 7500},
    {"name": "Kisgazda", "averageGain": 2500, "investCost": 10000},
    {"name": "Nagybirtokos", "averageGain": 10000, "investCost": 250000}
  ],
  "fatigue": {
    "decreaseIntervalMs": 3600000,
    "initial": 6,
    "scalar": 4,
    "base": 1.4
  }
}
